body {
    text-align: center;
}


/*
#startscene {
    display: block;
    width: 300px;
    padding: 30px;
    background-color: rgba(60,166,58,0.7);
    border: solid;
    border-color: #000000;
    position: absolute;
    left: 20%;
    top: 40%;
}

#diescene {
    display: none;
    width: 300px;
    padding: 30px;
    background-color: #3e8f3e;
    border: dotted;
    border-color: #1199C3;
    position: absolute;
    left: 20%;
    top: 40%;
}

#gamecontainer {
    position: relative;
    width: 600px;
    margin-left: auto;
    margin-right: auto;

}

*/
